.comment-text {
  border-color: #78b4aa;
  border-width: .125rem;
}

.comment-text:hover {
  border-color: #283a35;
}

.buttons {
  margin: 0 .625rem;
  background-color: rgba(255, 255, 255, 0.87);
  color: #78b4aa;
  border-style: solid;
  border-color: #78b4aa;
}