.comment-text {
  border-color: lightblue;
  border-width: .125rem;
}

.button {
  margin: 0 .625rem;
  background-color: rgba(255, 255, 255, 0.87);
  color: #2C3E50;
  border-style: solid;
  border-color: #2C3E50;
}